<nav class="navbar navbar-expand-lg accent-color">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">$[app_name]</a>
    <div class="d-flex space-between">
      <a href="/add_transaction" class="clear-style text-color link-spacing">Add Transaction</a>
      <a href="/transaction" class="clear-style text-color link-spacing">Transaction</a>
      <a href="/reports" class="clear-style text-color link-spacing">Reports</a>
      <a href="/settings" class="clear-style text-color link-spacing"><i class="bi bi-gear"></i></a>
    </div>
  </div>
</nav>